<main class="about-me-body">
    <section class="about-me-content">
        <div class="about-me-title">
            <div class="about-me-text"> 
                <div class="about-me-heading"> About Me.... </div>
                <div class="about-me-paragraph">My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif <br><br> I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy </div>
                <div class="social-media-links">
                    <a class="social-media" target="_blank" href="https://www.linkedin.com/in/alisha-arif-6420062b9/">
                        <img src="assets/icons/linkedin.svg" alt="Linkedin" class="linkedin-icon">
                        <p class="social-media-text"> Alisha Arif </p>
                    </a>
                    <a class="social-media" target="_blank" href="https://www.instagram.com/alisha4rif/">
                        <img src="assets/icons/instagram.svg" alt="Personal Insta" class="personal-insta-icon">
                        <p class="social-media-text"> alisha4rif </p>
                    </a>
                    <a class="social-media" target="_blank" href="https://www.instagram.com/lovebugcollective_/">
                        <img src="assets/icons/instagram.svg" alt="Lovebug Insta" class="lovebug-insta-icon">
                        <p class="social-media-text"> lovebugcollective_ </p>
                    </a>
                </div>
            </div>
            <div class="about-me-image-wrapper">
                <img src="assets/images/alisha.png" alt="Alisha's Image" class="about-me-image">
            </div>
        </div>
    </section>
</main>