<main class="about-me-body">
    <section class="about-me-content">
        <div class="about-me-title">
            <div class="about-me-text"> 
                <div class="about-me-heading"> About Me.... </div>
                <div class="about-me-paragraph">Hi my name is Alisha and i’m a 20 year old Canadian craft and crochet enthusiast! I’m the maker behind this little crochet space ♡ <br>  <br> Crafting has always been a life long passion of mine! My grandma taught me how to knit and crochet when i was just 8 years old, and it quickly turned into something I truly love sharing with others. <br> <br>  Every piece I make is handmade with care, patience, and attention to detail no two items are ever exactly the same. I love creating custom pieces that feel personal, cozy, and uniquely yours. <br> <br> Thank you for supporting my small business and being part of something made with love ✿ </div>
                <div class="social-media-links">
                    <a class="social-media" target="_blank" href="https://www.linkedin.com/in/alisha-arif-6420062b9/">
                        <img src="assets/icons/linkedin.svg" alt="Linkedin" class="linkedin-icon">
                        <p class="social-media-text"> Alisha Arif </p>
                    </a>
                    <a class="social-media" target="_blank" href="https://www.instagram.com/alisha4rif/">
                        <img src="assets/icons/instagram.svg" alt="Personal Insta" class="personal-insta-icon">
                        <p class="social-media-text"> alisha4rif </p>
                    </a>
                    <a class="social-media" target="_blank" href="https://www.instagram.com/lovebugcollective_/">
                        <img src="assets/icons/instagram.svg" alt="Lovebug Insta" class="lovebug-insta-icon">
                        <p class="social-media-text"> lovebugcollective_ </p>
                    </a>
                    <a class="social-media" href="mailto:lovebugcollective0@gmail.com">
                        <img src="assets/icons/email.svg" alt="Lovebug Email" class="lovebug-email-icon">
                        <p class="social-media-text"> lovebugcollective0@gmail.com </p>
                    </a>
                </div>
            </div>
            <div class="about-me-image-wrapper">
                <img src="assets/images/alisha.png" alt="Alisha's Image" class="about-me-image">
            </div>
        </div>
    </section>
</main>