<main class="about-me-body">
    <section class="about-me-content">
        <div class="about-me-title">
            <div class="about-me-text"> 
                <div class="about-me-heading"> About Me.... </div>
                <div class="about-me-paragraph">My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif <br><br> I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy My Name is Alisha Arif I'm blah blah blah arts fartsy </div>
                <div class="social-media-links">
                    <div class="social-media">
                        <img src="assets/icons/linkedin.svg" alt="Linkedin" class="linkedin-icon">
                        <p class="social-media-text"> Alisha Arif </p>
                    </div>
                    <div class="social-media">
                        <img src="assets/icons/instagram.svg" alt="Personal Insta" class="personal-insta-icon">
                        <p class="social-media-text"> alisha4rif </p>
                    </div>
                    <div class="social-media">
                        <img src="assets/icons/instagram.svg" alt="Lovebug Insta" class="lovebug-insta-icon">
                        <p class="social-media-text"> lovebugcollective_ </p>
                    </div>
                </div>
            </div>
            <div class="about-me-image-wrapper">
                <img src="assets/images/alisha.png" alt="Alisha's Image" class="about-me-image">
            </div>
        </div>
    </section>
</main>