@use "../../../styles" as *;

.home-body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: $dark-coffee;

  .home-bg-pattern {
    display: none;
  }

  .home-bg-mobile {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
    pointer-events: none;
  }

  .home-content {
    position: relative;
    z-index: 1;
    width: 100%;

    .comingSoon {
      color: $lemon;
      display: grid;
      place-content: center;
      height: 70vh;
      font-size: 6rem;
      font-family: "Italianno", cursive;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-body {

    .home-bg-mobile {
      display: none;
    }

    .home-bg-pattern {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10%;
      display: block;
      z-index: 0;
      pointer-events: none;
      background-repeat: repeat-y;
      background-position: top center;
      background-size: 100% auto;
    }

    .home-bg-pattern-left {
      left: 0;
      background-image: url("/assets/images/home-bg-pattern-left.png");
    }

    .home-bg-pattern-right {
      right: 0;
      background-image: url("/assets/images/home-bg-pattern-right.png");
    }

    .home-content {
      position: relative;
      z-index: 1;
      width: 100%;

      .comingSoon {
        font-size: 16rem;
        height: 80vh;
      }
    }
  }
}